.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
.todo1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}
.todo2{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 5;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}
.todo3{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}
.todo4{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}
.todo5{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}
.todo6{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 100%;
    width: 100%;
    background-color: rgb(237, 34, 156);
    border: 2px solid white;
    text-align: center;
    align-content: center;
}