.contenedor{
    display: grid;
    grid-template-columns: 220px 400px 200px;
    grid-template-rows: 150px 400px 200px;

}
.contenedor1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: pink;
    text-align: center;
    align-content: center;
}
.contenedor2{
    grid-column-start: 1;
    background-color: purple;
    text-align: center;
    align-content: center;
}
.contenedor3{
    grid-column-end: 4;
    grid-column-start: 2;
    background-color: red;
    text-align: center;
    align-content: center;
}
.contenedor4{
    grid-column-end: 4;
    grid-column-start: 1;
    background-color: lightblue;
    text-align: center;
    align-content: center;
}