.contenedor{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 200px 100px;
    width: 100vw;
}
.contenedor1{
    grid-column-start: 1;
    background-color: rgb(199, 98, 98);
    text-align: center;
    align-content: center;
    grid-column-end: 6;
    width: 100%;
}
.contenedor2{
    grid-column-start: 1;
    background-color: yellow;
    text-align: center;
    align-content: center;
    width: 100%;
}
.contenedor3{
    grid-column-end: 3;
    grid-column-start: 2;
    background-color: rgb(0, 113, 218);
    text-align: center;
    align-content: center;
    width: 100%;
}
.contenedor4{
    grid-column-end: 5;
    grid-column-start: 3;
    background-color: rgb(224, 100, 121);
    text-align: center;
    align-content: center;
    grid-row-start: 2;
    width: 100%;
}
.contenedor5{
    grid-column-end: 4;
    grid-column-start: 1;
    background-color: rgb(161, 255, 161);
    text-align: center;
    align-content: center;
    width: 100%;
}