div{
    height: 500px;
    width: 466px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}

div.nig{
    border: 1px solid rgb(107, 16, 104);
    background-color: rgb(238, 158, 230);
    height: 44px;
    width: 465px;
    display: flex;
    justify-content: center;

}