div{
    height: 305px;
    width: 1008px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}

div.nig{
    border: 1px solid rgb(107, 16, 104);
    background-color: rgb(238, 158, 230);
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;

}