nav {
    border: 1px solid black;
}

.contenedor {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#primera {
    padding-left: 20px;
}

#ultima {
    padding-right: 20px;
}